body {
  font-family: Arial;
  margin: 0;
}

.logo {
  background-color: rgb(13, 13, 99);
  color: white;
  width: 100%;
  max-width: fit-content;
  padding: 2px 14px 2px 14px;
  margin: 12px;
  border-radius: 10px;
}

header {
  display: flex;
  align-items: flex-start;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 2px 2px 2px rgb(209, 205, 205);
  padding: 10px;
}

.brand-name {
  margin: 5px 10px 10px 0px;
}

#text1 {
  margin-bottom: 4px;
  font-weight: bold;
  color: rgb(13, 13, 99);
}

#text2 {
  margin: 0px;
  font-size: small;
  color: rgba(13, 13, 99, 0.411);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 20px 30px 20px;
  width: 90%;
  max-width: 400px;
  
  border-radius: 10px;
  background-color: white;
  box-shadow: 2px 2px 12px rgb(209, 205, 205);
}

.login-box label {
  margin-bottom: 7px;
  color:rgb(13, 13, 99)
}

.login-box h2 {
  margin-top:10px;
  color:rgb(13, 13, 99)
}

#Email {
  border-radius: 7px;
  width: 100%;
  max-width: 520px;
  border: solid rgba(128, 128, 128, 0.094);
  margin-bottom: 20px;
  height: 30px;
}

#Pass {
  border-radius: 7px;
  width: 100%;
  max-width: 520px;
  border: solid rgba(128, 128, 128, 0.094);
  margin-bottom: 8px;
  height: 30px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.show-password {
}

.forgot-password {
  text-decoration: none;
  color: rgb(82, 128, 227);
}

.forgot-password:hover {
  text-decoration: underline;
}
#submit-btn {
  width: 100%;
  max-width: 520px;
  border: solid white;
  border-radius: 8px;
  background-color: rgb(13, 13, 99);
  color: white;
  padding: 4px;
  font-weight: bolder;
  height: 34px;
  margin-left: 4px;
  margin-top: 10px;
}

#submit-btn:hover{
  background:rgb(193, 193, 193);
  color:rgb(13, 13, 99);
  transition: 0.2s;
  
}